<?xml version='1.0' encoding='utf-8'?>
<widget id="com.capsuleplus.app" version="1.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Capsuleplus</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <allow-navigation href="*" />

    <platform name="android">
        <preference name="StatusBarOverlaysWebView" value="false" /> 
        <!-- <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#f9fdfc" />
        <preference name="StatusBarStyle" value="default" /> -->


        <!-- <preference name="SplashScreen" value="none"/> -->
      <preference name="android-minSdkVersion" value="22" />
      <!-- <preference name="android-targetSdkVersion" value="31" /> -->
      <preference name="SplashMaintainAspectRatio" value="true" />
      <preference name="AndroidPersistentFileLocation" value="Compatibility" />
      <!-- <preference name="AndroidWindowSplashScreenAnimatedIcon" density="port-xxxhdpi" value="res/screen/android/drawable-xxxhdpi/screen.png" /> -->
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="land-hdpi" value="res/screen/android/drawable-hdpi/screen.png" />
      <splpreferenceash  name="AndroidWindowSplashScreenAnimatedIcon" density="land-mdpi" value="res/screen/android/drawable-mdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="land-xhdpi" value="res/screen/android/drawable-xhdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="land-xxhdpi" value="res/screen/android/drawable-xxhdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="land-xxxhdpi" value="res/screen/android/drawable-xxxhdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="port-hdpi" value="res/screen/android/drawable-hdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="port-mdpi" value="res/screen/android/drawable-mdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="port-xhdpi" value="res/screen/android/drawable-xhdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="port-xxhdpi" value="res/screen/android/drawable-xxhdpi/screen.png" />
      <preference  name="AndroidWindowSplashScreenAnimatedIcon" density="port-xxxhdpi" value="res/screen/android/drawable-xxxhdpi/screen.png" />
      <icon density="ldpi" src="res/icon/android/mipmap-ldpi/ic_launcher.png" />
      <icon density="mdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
      <icon density="hdpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
      <icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
      <icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
      <icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
      
    </platform>
   
    <preference name="SplashScreen" value="none"/>
    <preference name="AndroidUpdateAlertType" value="Immediate" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="Allow3DTouchLinkPreview" value="false" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    
    <!-- <preference name="StatusBarBackgroundColor" value="#f4fbf7" />
    <preference name="StatusBarStyle" value="lightcontent" /> -->
</widget>   